#container::before {
  content: "Before Element";   /* no spaces */
  color: #f00;
  font-size: 20px;
}

#container::after {
  content: "After Element";    /* no spaces */
  color: #f00;
  font-size: 20px;
}